{
  "type": "postgres",
  "host": "localhost",
  "port": 5432,
  "username": "postgres",
  "password": "docker",
  "database": "complaint",
  "entities": [
    "./dist/**/*.entity.js"
  ],
  "migrations" : [
    "./dist/shared/database/migrations/*.js"
  ],
  "cli": {
    "migrationsDir": "./dist/shared/database/migrations/"
  }
}
